/*GENERAL*/
html, body {
  background: #ddd;
  margin: 0;
  padding: 0;
}
/*HEADER*/
header{
  background: #333;
  height: 50px;
  padding: 5px;
}

header h1{
  color: #ddd;
  display: inline-block;
  margin: 5px;
}

header nav{
  float: right;
  margin: 15px;
}

header nav div{
  color: #ddd;
  display: inline;
  padding: 5px;
}

header nav a{
  color: #ddd;
  text-decoration: none;
}

#banner{
  height: 650px;
  width: 100%;
}
/*CONTAINER*/
#container{
  margin: 10px;
}
/*ARROW*/
#toparrow{
  background: #333;
  border-radius: 10px;
  bottom: 250px;
  font-size: 30px;
  line-height: 50px;
  height: 50px;
  right: 10px;
  opacity: 0.7;
  position: fixed;
  text-align: center;
  width: 50px;
}
#toparrow a{
  color: #ddd;
  text-decoration: none;
}
/*CANVAS*/
#defaultCanvas0 {
    position: fixed;
    right: 0;
    top: 60px;
}
/*PROJECTS*/
ul{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul li{
  background: #ccc;
  margin: 5px;
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
ul li a{
  color: #000;
  text-decoration: none;
}
/*ABOUT*/
#about-p{
  /* width: 70%; */
}
#footer{
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}
