.ui.middle.menu {
   border: none !important;
   justify-content: center;
   margin: 0 !important;
}

.ui.middle.menu .header.item::before{
   background: none !important;
}

.ui.secondary.menu{
   background:  #333;
   margin-top: 0;
   margin-bottom: 0;
}

.ui.secondary.menu a.item{
   color: #bbb;
}

.ui.secondary.menu a.active.item {
   color: #fff !important;
}

.ui.container.fluid{
   margin: 1rem 5rem;
   width: auto !important;;
}

.ui.spirited-cards.container{
   margin: auto !important;
   width: 90vw !important;
}

.ui.error.message{
   margin: 0 !important;
}

/*ARROW*/
#toparrow{
   background: #333;
   border-radius: 10px;
   bottom: 250px;
   font-size: 30px;
   line-height: 50px;
   height: 50px;
   right: 10px;
   opacity: 0.7;
   position: fixed;
   text-align: center;
   width: 50px;
}
#toparrow a{
   color: #ddd;
   text-decoration: none;
}
/*CANVAS*/
#defaultCanvas0 {
   position: fixed;
   right: 0;
   top: 40px;
}
